<label
  class="
    mdc-text-field
    mdc-text-field--outlined
    mdc-text-field--fullwidth
    mdc-text-field--no-label
  "
>
  <span class="mdc-notched-outline">
    <span class="mdc-notched-outline__leading"></span>
    <span class="mdc-notched-outline__trailing"></span>
  </span>
  <input
    class="mdc-text-field__input"
    type="number"
    aria-label="Label"
    name="{{ question.sno }}"
    value="{{question.response.value}}"
    min="{{ question.obj.options.validations.min }}"
    max="{{ question.obj.options.validations.max }}"
    placeholder="{{ question.obj.options.placeholder }}"
  />
</label>