{% load static %}
<!doctype html>
<html lang="en">
  <head>
    {% if TAG_MANAGER_ENABLED %}
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','{{ TAG_MANAGER_CONTAINER_ID }}');</script>
    <!-- End Google Tag Manager -->
    {% endif %} 

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Municipal Structures Compliance{% endblock %}</title>
    {% block meta %}
    <meta property="description" content="{% block description %}Website for DCOG municipal form compliance.{% endblock %}" />
    <meta name="twitter:title" content="{% block twitter_title %}msc{% endblock %}">
    <meta name="twitter:description" content="{% block twitter_description %}Website for DCOG municipal form compliance.{% endblock %}">
    <meta name="twitter:card" content="summary">
    <meta property="og:title" content="{% block og_title %}msc{% endblock %}" />
    <meta property="og:description" content="{% block og_description %}Website for DCOG municipal form compliance.{% endblock %}" />
    {% endblock %}

    <link rel="stylesheet" href="{% static 'scss/msc.css' %}">

    <!-- REMOVE -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- REMOVE -->
  </head>
  <body>
    {% if TAG_MANAGER_ENABLED %} 
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ TAG_MANAGER_CONTAINER_ID }}"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {% endif %} 

    {% block nav %} 
      <nav class="navbar navbar-expand-lg navbar-light navbar-laravel border-bottom">
        <div class="container">
            <a class="navbar-brand" href="/">DCOG Tool</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            {% if request.user.is_authenticated %}
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/accounts/logout/">Logout</a>
                    </li>
                </ul>
              </div>
            {% endif %}
        </div>
    </nav>
    {% endblock %}
    {% block content %}{% endblock %}

    <script src="{% static "js/msc.js" %}" async></script>
  </body>
</html>
