<style type="text/css">
    .field-shares>div>label{
        display: none;
    }
</style>

{% if current_user.is_superuser %}

    <div class="checkbox-row" style="padding-left: 10px;">
        <label for="" style="width: 60px;">Creator:</label>
            <select name="creator" required="" id="id_creator">
                {% for org in organisations %}
                    <option value="{{ org.id }}" {% if org == selected_org %}selected="selected"{% endif %}>{{ org.name }}</option>
                {% endfor %}
            </select>
    </div>

    <div class="form-row field-is_published">
        {% for org_type in organisation_types %}
            <div class="checkbox-row">
                <input type="checkbox" name="shares" value="{{org_type.org_type__id}}" id="id_share_with_{{ org_type }}" {% if org_type.count == org_type.shared_with  %} checked="checked" {% endif %}><label class="vCheckboxLabel" for="id_share_with_{{ org_type }}">
                    {% if org_type.shared_with == 0 %}
                        Share with {{ org_type.count }} {{ org_type.org_type__name }} organisation
                    {% elif org_type.count == org_type.shared_with %}
                        Shared with {{ org_type.org_type__name }} organisation (No of org: {{ org_type.count }})
                    {% else %}
                        shared with {{ org_type.shared_with }} out of {{ org_type.count }} {{ org_type.org_type__name }} organisation.
                        Please check the checkbox to share with remaining organisations

                    {% endif %}
                </label>
            </div>
        {% endfor %}
    </div>

{% endif %}

{% if current_user.is_national %}
    <div class="form-row field-is_published">
        {% for org in organisations %}
            <div class="checkbox-row">
                <input type="checkbox" name="shares" id="id_share_with_{{ org.id }}" value="{{ org.id }}" {% if org in has_shares_with  %} checked="checked" {% endif %}><label class="vCheckboxLabel" for="id_share_with_{{ org.id }}">
                    {{ org.name }}
                </label>
            </div>
        {% endfor %}
    </div>
{% endif %}


{% if current_user.is_admin %}
    {% for org_type in organisation_types %}
        <div class="checkbox-row">
            <input type="checkbox" name="shares" id="id_share_with_{{ org_type }}" value="{{org_type.org_type__id}}" {% if org_type.count == org_type.shared_with  %} checked="checked" {% endif %}><label class="vCheckboxLabel" for="id_share_with_{{ org_type }}">
                {% if org_type.shared_with == 0 %}
                    Share with {{ org_type.count }} {{ org_type.org_type__name }} organisation
                {% elif org_type.count == org_type.shared_with %}
                    Shared with {{ org_type.org_type__name }} organisation (No of org: {{ org_type.count }})
                {% else %}
                    shared with {{ org_type.shared_with }} out of {{ org_type.count }} {{ org_type.org_type__name }} organisation.
                    Please check the checkbox to share with remaining organisations

                {% endif %}
            </label>
        </div>
    {% endfor %}
{% endif %}