{% extends "layout_simple.html" %}
{% block content %}
  {% if messages %} {% for message in messages %}
  <div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %}">
    {{ message|safe }}
  </div>
  {% endfor %} {% endif %}

  <form method="post" action="{% url 'custom-login' %}">
    {% csrf_token %}
    <div class="mdc-form-field--wrapper">
      <label
        class="mdc-text-field mdc-text-field--filled mdc-text-field--fullwidth"
      >
        <span class="mdc-text-field__ripple"></span>
        <span class="mdc-floating-label" id="my-label-id">Username</span>
        <input
          name="username"
          class="mdc-text-field__input"
          type="text"
          aria-labelledby="username"
          required
          autofocus
        />
        <span class="mdc-line-ripple"></span>
      </label>
    </div>
    <div class="mdc-form-field--wrapper">
      <label
        class="mdc-text-field mdc-text-field--filled mdc-text-field--fullwidth"
      >
        <span class="mdc-text-field__ripple"></span>
        <span class="mdc-floating-label" id="my-label-id">Password</span>
        <input
          name="password"
          type="password"
          class="mdc-text-field__input"
          type="text"
          aria-labelledby="password"
          required
        />
        <span class="mdc-line-ripple"></span>
      </label>
    </div>
    <div class="mdc-form-field--wrapper">
      <button
        type="submit"
        value="login"
        class="
          mdc-button
          mdc-button--raised
          mdc-button--leading
          mdc-button--fullwidth
        "
      >
        <span class="mdc-button__ripple"></span>
        <span class="mdc-button__label">Log in</span>
      </button>
    </div>
  </form>
  
{% endblock %}
