{% extends "layout.html" %}
{% load i18n static %}
{% block content %}
  
<main class="questionnaires">
  <h1 class="mdc-typography--headline1">
    <i class="material-icons is-primary-tinted" aria-hidden="true">person</i>
    Reset Password
  </h1>
  <h3 class="mdc-typography--subtitle1">
      Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.
  </h3>

    <form method="post" class="mdc-change-passowrd-form">
      {% csrf_token %}
        <div>
        {% if form.errors %}
            <p class="errornote error-txt">
            {% if form.errors.items|length == 1 %}{% translate "Please correct the error below." %}{% else %}{% translate "Please correct the errors below." %}{% endif %}
            </p>
        {% endif %}
        <div class="mdc-form-field--wrapper">
          <span class="errornote error-txt">{{ form.email.errors }}</span>
          <label
            class="mdc-text-field mdc-text-field--filled mdc-text-field--fullwidth"
          >
            <span class="mdc-text-field__ripple"></span>
            <span class="mdc-floating-label" id="my-label-id">Email</span>
            <input
              name="email"
              type="email"
              class="mdc-text-field__input"
              type="text"
              aria-labelledby="email"
              required
            />
            <span class="mdc-line-ripple"></span>
          </label>
        </div>

        <div class="mdc-form-field--wrapper">
          <button
            type="submit"
            value="Reset my password"
            class="
              mdc-button
              mdc-button--raised
              mdc-button--leading
              mdc-button--fullwidth
            "
          >
            <span class="mdc-button__ripple"></span>
            <span class="mdc-button__label">Reset my password</span>
          </button>
        </div>
      </div>
    </form>
</main>


{% endblock %}