{% load i18n %}{% autoescape off %}

Dear Colleague,

We are sending you this email because you requested a password reset for your user account at {{ site_name }}
Please click the link below (or copy and paste the link into your browser window) to create a new password:
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

The username that you have requested the password is: {{ user.get_username }}

Thank you for using the DCOG Online Monitoring tool.

The DCOG Online Monitoring tool Team

{% endautoescape %}
