{% extends "layout.html" %}
{% load i18n static %}
{% block content %}
  
<main class="questionnaires">
  <h1 class="mdc-typography--headline1">
    <i class="material-icons is-primary-tinted" aria-hidden="true">person</i>
    Change Password
  </h1>
  <h3 class="mdc-typography--subtitle1">
      Please enter your old password, for security’s sake, and then enter your new password twice so we can verify you typed it in correctly.
  </h3>


    <form method="post" class="mdc-change-passowrd-form">
      {% csrf_token %}
        <div>
        {% if form.errors %}
            <p class="errornote error-txt">
            {% if form.errors.items|length == 1 %}{% translate "Please correct the error below." %}{% else %}{% translate "Please correct the errors below." %}{% endif %}
            </p>
        {% endif %}
        <div class="mdc-form-field--wrapper">
          <span class="errornote error-txt">{{ form.old_password.errors }}</span>
          <label
            class="mdc-text-field mdc-text-field--filled mdc-text-field--fullwidth"
          >
            <span class="mdc-text-field__ripple"></span>
            <span class="mdc-floating-label" id="my-label-id">Old Password</span>
            <input
              name="old_password"
              type="password"
              class="mdc-text-field__input"
              type="text"
              aria-labelledby="password"
              required
            />
            <span class="mdc-line-ripple"></span>
          </label>
        </div>

        <div class="mdc-form-field--wrapper">
          <span class="errornote error-txt">{{ form.new_password1.errors }}</span>
          <label
            class="mdc-text-field mdc-text-field--filled mdc-text-field--fullwidth"
          >
            <span class="mdc-text-field__ripple"></span>
            <span class="mdc-floating-label" id="my-label-id">New Password</span>
            <input
              name="new_password1"
              type="password"
              class="mdc-text-field__input"
              type="text"
              aria-labelledby="password"
              required
            />
            <span class="mdc-line-ripple"></span>
          </label>
        </div>
        <div class="help mdc-theme--secondary">{{ form.new_password1.help_text|safe }}</div>

        <div class="mdc-form-field--wrapper">
          <span class="errornote error-txt">{{ form.new_password2.errors }}</span>
          <label
            class="mdc-text-field mdc-text-field--filled mdc-text-field--fullwidth"
          >
            <span class="mdc-text-field__ripple"></span>
            <span class="mdc-floating-label" id="my-label-id">New password confirmation</span>
            <input
              name="new_password2"
              type="password"
              class="mdc-text-field__input"
              type="text"
              aria-labelledby="password"
              required
            />
            <span class="mdc-line-ripple"></span>
          </label>
        </div>
        <div class="mdc-form-field--wrapper">
          <button
            type="submit"
            value="Change my password"
            class="
              mdc-button
              mdc-button--raised
              mdc-button--leading
              mdc-button--fullwidth
            "
          >
            <span class="mdc-button__ripple"></span>
            <span class="mdc-button__label">Change my password</span>
          </button>
        </div>
      </div>
    </form>
</main>


{% endblock %}