{% extends "layout.html" %}
{% load i18n static %}
{% block content %}
  
<main class="questionnaires">
  <h1 class="mdc-typography--headline1">
    <i class="material-icons is-primary-tinted" aria-hidden="true">person</i>
    Password Reset
  </h1>
  <h3 class="mdc-typography--subtitle1">
      We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
  </h3>
  <h3 class="mdc-typography--subtitle1">
      If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.
  </h3>
</main>


{% endblock %}