{% extends "layout.html" %} {% block breadcrumbs %}
<a href="{% url 'root' %}">Compliance forms</a>
{% endblock %} {% block content %}
<main class="questionnaires">
  <h1 class="mdc-typography--headline1">
    <i class="material-icons is-primary-tinted" aria-hidden="true">list_alt</i>
    Compliance forms
  </h1>
  <h2 class="mdc-typography--headline2">
      Submitted forms
  </h2>

  <table class="is-table-app">
    <thead>
      <tr>
        <th width="99%" align="left">
          Form name
        </th>
        <th class="has-nowrap" align="left">
          Submitted by
        </th>
        <th class="has-nowrap" align="left">
          Date submitted
        </th>
      </tr>
    </thead>
    <tbody
      {% for questionnaire in questionnaires %}
      {% for response in questionnaire.response_set.all %}
      {% if response.is_submitted %}
      <tr>
        <td>
          <a href="{% url 'questionnaire-detail' questionnaire.id %}">
            {{ questionnaire.name }}
          </a>
        </td>
        <td class="has-nowrap">
          {{ response.organisation }}
        </td>
        <td class="has-nowrap">
          {{ response.created |date:'d/m/Y' }}
        </td>
      </tr>
      {% endif %}
      {% endfor %}
      {% endfor %}
    </tbody>
  </table>
</main>
{% endblock %}
