{% extends "layout.html" %} 
{% load custom_tags %}
{% load humanize %}
{% block breadcrumbs %}
<a href="{% url 'root' %}">Compliance forms</a>
<a href="{% url 'questionnaire-detail' questionnaire.id %}">
  {{ questionnaire.name }}
</a>
{% endblock %} 
{% block content %}
<main class="questionnaires">
  <form
      method="post"
      action="{% url 'questionnaire-detail' questionnaire.id %}"
    >
      {% csrf_token %}
      <input
        type="hidden"
        name="questionnaire_id"
        value="{{questionnaire.id}}"
      />
  <nav class="mdc-layout-grid is-position-sticky has-background-white is-top-minus-210px">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
        <h1 title="{{ questionnaire.name }}" class="mdc-typography--headline1 has-nowrap has-overflow-ellipsis">
          <i class="material-icons mdc-button__icon is-primary-tinted" aria-hidden="true">list_alt</i>
          {{ questionnaire.name }}
        </h1>
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--align-middle mdc-layout-grid__cell--span-6 is-text-align-right">
        <button
          type="submit"
          name="save_progress"
          value="save"
          class="mdc-button mdc-button--raised mdc-button--leading is-background-color-grey-dark">
          <span class="mdc-button__ripple"></span>
          <i class="material-icons mdc-button__icon" aria-hidden="true">save</i>
          <span class="mdc-button__label">Save progress</span>
        </button>
        {% if request.user.is_admin %}
        <button 
          type="submit"
          name="submit_form"
          value="submit"
          class="mdc-button mdc-button--raised mdc-button--leading">
          <span class="mdc-button__ripple"></span>
          <i class="material-icons mdc-button__icon" aria-hidden="true">send</i>
          <span class="mdc-button__label">Submit form</span>
        </button>
        {% endif %}
      </div>
    </div>
  </nav>
  <div class="is-breakout-full-width is-background-color-grey-light mt-1">
    <div class="is-contained py-2">
      <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
            <div class="mdc-card py-1 px-1 is-line-height-1-5">
              <div>
                <span class="is-bold">Questions answered:</span>
                <br />
                <span class="is-bar-background">
                  <span class="is-bar" style="width: {{ questionnaire.question_response_percentage | floatformat:0 }}%;">
                    <span class="is-bar-text has-nowrap">
                      {{ questionnaire.response_count }}/{{ questionnaire.question_count }} ({{ questionnaire.question_response_percentage | floatformat:0 }}%)
                    </span>
                  </span>
                </span>
              </div>
            </div>
          </div>
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
            <div class="mdc-card py-1 px-1 is-line-height-1-5">
              <div>
                <span class="is-bold">Submission deadline:</span>
                <br />
                <span>{{ questionnaire.close | date:'d/m/Y' }}</span>
                <span class="is-tag {% if questionnaire.overdue %}is-danger{%else%}is-light{% endif %}">{% if questionnaire.overdue %}{{questionnaire.close | timesince | split_timeuntil}}{%else%}{{questionnaire.close | timeuntil | split_timeuntil}}{% endif %} {% if questionnaire.overdue %}overdue{% else %}left{% endif %}</span>
            </div>
            </div>
          </div>
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
            <div class="mdc-card py-1 px-1 is-line-height-1-5">
              <div>
                <span class="is-bold">Date received:</span>
                <br />
                <span>{{ questionnaire.start |date:'d/m/Y' }}</span>
                <span class="is-tag is-light">{{questionnaire.start | timesince | split_timeuntil}} ago</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    {% if messages %} {% for message in messages %}
    <div
      class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %}"
    >
      {{ message|safe }}
    </div>
    {% endfor %} 
    {% endif %} 
    {% if form_save_type and form_save_type == "save" %}
    {% if errors %}
    <p class="text-info">
      We noticed some issues while saving progress. Please fix issues before you
      submit the form
    </p>
    {% endif %} 
    {% if form_save_type and form_save_type == "submission" %} 
      {% if errors or submission_errors%}
        <p class="text-danger">
          Not able to submit forms as there were some issues while submitting
        </p>
        <p class="text-info">
          Any progress/updates made before submission are saved successfully
        </p>
      {% else %}
        <p class="text-info">Form submitted successfully</p>
      {% endif %} 
    {% endif %}
    {% endif %}    
      {% for section in sections %}
      <div class="mt-4">
        <h2 class="mdc-typography--headline2 is-section-header">{{section.label}}</h2>

        <div>
          {% for question in section.questions %}
          <div class="my-2">
            <h3 class="mdc-typography--headline3">
              Question {{ question.sno }}
              {% if question.response %} 
                <span class="is-pulled-right is-size-0-75">
                  <img class="is-vertical-align-middle mr-0-25" src="/static/images/answered.png" alt="{% if question.response.version == 1 %} Answered by {% elif question.response.version > 1 %} Answer updated by {% endif %}" />
                  {{ question.response.respondent.email }} 
                </span>
              {% endif %}
            </h3>
            <div>
              <p class="is-size-1-4">{{ question.obj.text }}</p>
              {% autoescape off %}
                {{ question.obj.instruction }}
              {% endautoescape %}
              {% include question.template %} {% if question.sno in errors %}
              <p class="text-danger">{{errors|keyvalue:question.sno}}</p>
              {% endif %} 
              {% if question.obj.id in submission_errors %}
                <p class="text-danger">
                  {{submission_errors|keyvalue:question.obj.id}}
                </p>
              {% endif %}
            </div>
            
            <div>
              {% for sub_question in question.children %}
              <h4 class="mdc-typography--headline4">
                Question {{ sub_question.sno }}
                {% if sub_question.response %} 
                  <span class="is-pulled-right is-size-0-75">
                    <img class="is-vertical-align-middle mr-0-25" src="/static/images/answered.png" alt="{% if sub_question.response.version == 1 %} Answered by {% elif sub_question.response.version > 1 %} Answer updated by {% endif %}" />
                    {{ sub_question.response.respondent.email }} 
                  </span>
                {% endif %}
              </h4>

              <div class="">
                <p class="is-size-1-4">{{ sub_question.obj.text }}</p>
                <p>{{ sub_question.obj.instruction }}</p>
                
                {% include sub_question.template %} 
                
                {% if sub_question.sno in errors %}
                  <p class="text-danger">{{errors|keyvalue:sub_question.sno}}</p>
                {% endif %} 
                
                {% if sub_question.obj.id in submission_errors %}
                  <p class="text-danger">
                    {{submission_errors|keyvalue:sub_question.obj.id}}
                  </p>
                {% endif %}
              </div>
              {% endfor %}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>
  </form>
</main>
{% endblock %}
